%fontwhite {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;    
}

.footer {
    height: 88px;
    background-color: #4C394E;

    &__info {
        display: flex;
    justify-content: space-between;
    padding-top: 32px;
    @extend %fontwhite;
    }
    
    &__copirait::before {
        content: '©';
    }
}
