.header {
    position: sticky;
    top: 0;
    z-index: 1;    

    &--blue {
        background-color: #10BBD5;
    }

    &--whate {
        background-color: #fff;
    }
}

.header__top {  
    height: 72px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-butom {
    &__total {
        position: relative;
        right: 60px;   
        width: 55px;
        font-family: Cabin;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }

    &__cart {
        display: inline-block;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 35px;
        color: #fff;
    }

    &__zero::before {
        content: '0';
        color: #000;
        font-family: Cabin;
        font-size: 12px;
        font-weight: 400;
        line-height: 10px;
        display: block;
        left: 19px;
        top: 12px;
        position: relative;
        z-index: 1;
    }
}

.header-botton {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    
    &__text {
        color: #000;
        font-family: Cabin;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }

    &__menu {
        display: flex;
        gap: 40px;
    }
}
