.main {
    background: #EEEEEF;

    &__title {
        display: block;    
        color: #1F1F1F;
        font-family: Cabin;
        font-size: 32px;
        font-weight: 600;    
        border-bottom: 1px solid #A8A8A8;
        padding-top: 36px;
        padding-bottom: 23px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 24px;
        row-gap: 32px;
        margin: 24px auto 120px auto;
    }
}

.produkt {
    display: block;
    width: 306px;
    height: 512px;
    text-decoration: none;
    background-color:#F8FDFE;
    position: relative;    
    
    &__img {
        display: block;
        width: 178px;
        margin: 32px auto 0 auto;
    }

    &__h2 {
        display: block;
        margin: 16px 32px;  
        overflow: hidden;
        color: var(--black, #1F1F1F);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Cabin;
        font-size: 20px;
        font-weight: 700;    
        border-bottom: 1px solid #8E8E8E;
    }

    &__avtor {
        overflow: hidden;
        color: var(--gray, #8E8E8E);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Cabin;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 32px;
    }

    &__price {
        color: #E90000;
        font-family: Cabin;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin: 8px 32px;
        position: relative;
    }

    &__discont {
        position: absolute;
        color: var(--gray, #8E8E8E);
        font-family: Cabin;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-decoration-line: line-through;
        top: 398px;
        left: 127px;
    }

    &__button {
        display: block;
        color: var(--white, #F8FDFE);
        text-align: center;
        font-family: Cabin;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 8px 24px;
        width: 242px;
        border-radius: 4px;
        margin: 16px 32px;
        border-style: none;
    }

    .violet {
        background-color: #4C394E;

        &:hover {
            background-color: #744978;
        }
    }

    .green {
        background-color: #4D762D;

        &:hover {
            background-color: #6DB236;
        }
    }
}

.button-chat__img {
    position: fixed;
    bottom: 28px;
    right: 28px;
    background-color: #10BBD5;
    border-radius: 45px;
    border: 0;
    font-size: 0;    
    width: 64px;
    height: 64px;
}

