%fontbtn {
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.hit {
    display: inline-block;
    background-color: #4200FF;
    border-radius: 4px;
    width: 36px;
    height: 32px;
    @extend %fontbtn;
    left: 32px;
    top: 32px;
    position: absolute;

}

.new {
    background-color: #AF39E7;
    border-radius: 4px;
    width: 47px;
    height: 32px;
    @extend %fontbtn;
    left: 32px;
    top: 32px;
    position: absolute;
}

.off {
    background-color: #EA33C0;
    border-radius: 4px;
    width: 70px;
    height: 32px;
    @extend %fontbtn;
    left: 80px;
    top: 32px;
    position: absolute;
}